* 
	box-sizing: border-box
body 
	margin: 0
	padding: 0
	font-family: sans-serif
	display: flex
	flex-direction: column
	min-height: 100vh
	background: black
main 
	flex: 1
.wrap
	width: 100%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
