.close-button
  position: absolute
  width: 15px
  height: 15px
  display: block
  right: 20px
  top: 20px
  background: url(../img/interface/cancel.svg) no-repeat center
  background-size: contain
  cursor: pointer

.open-button
  display: block
  cursor: pointer
  width: 220px
  height: 50px
  padding: 15px
  color: white
  text-align: center
  right: 20px
  top: 20px
  text-decoration: none
  border: 1px solid white
  transition: 0.3s
  &_active
    display: none
  &:hover
    color: black
    background: white

  
.call-back
  position: relative
  width: 450px
  height: 500px
  background: white
  border-radius: 5px
  display: none
  &_show
    display: block
  &__title
    text-align: center
    font-size: 20px
  &__form
    display: flex
    flex-direction: column
    align-items: center
    max-height: 430px
  &__input
    width: 60%
    margin-top: 25px
    border: none
    border-bottom: 1px solid grey
  &__rating
    display: flex
    flex-direction: row-reverse
    label
      display: block
      cursor: pointer
      font-size: 40px
      position: relative
      &:before
        content: '\2605' 
        display: block
        color: grey
        position: relative
      &:after
        content: '\2605'
        position: absolute
        display: block
        color: #f4dc42
        top: 0
        opacity: 0
        transition: 0.2s
      &:hover:after,
      &:hover ~ label:after
        opacity: 1

    input:checked ~ label:after 
      opacity: 1
    input
      display: none

      
    &-title 
      display: block
      margin-top: 20px
    
  &__submit
    margin-top: 10px
    padding: 10px
    text-transform: uppercase
    font-weight: bold
    background: #5894f4
    border-radius: 4px
    border: none
    color: white
    cursor: pointer
    &:hover
      background: #6faaf2
			  